body{
    background: linear-gradient(to right, #ffefba, #ffffff);
}
h1{
    color: #6d7f5e;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    padding-top: 50px;
    padding-left: 50px;
}
h2{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #6d7f5e;
    padding-top: 20px;
    padding-left: 50px;
}

img{
    width: 50px;
}

.container{
    padding-top: 100px;
    text-align: center;
    align-items: center;
}

.row{
    display: block;
    margin: 0;
  

}

.col-sm{
    display: block;
    margin: 0;
    max-width: 50px;
}